h1{
        color: rgb(158, 217, 242);
}
button{
        background-color: blue;
        border: 0px blue;
        padding: 3px;
        border-radius: 2px;
        color: rgb(187, 185, 185);
}